*{	margin: 0;	padding: 0;	}

.content{width: 391px;}

.top{background-color: red; height: 51px;width: 391px; font-size: x-large;}
.top img{width:25px;height: 25px;	display: block;
			margin: 0 auto;	margin-top: 2px;	margin-right: 10px;	}
/*.nav{}
.banner{}
.weekpic{}
.news{}
.new{}
.newspic{}
.newsdiv{}*/
